@font-face {
    font-family: 'Brygada Bold';
    src: url('fonts/brygada/Brygada-Bold.woff2') format('woff2'),
         url('fonts/brygada/Brygada-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}