@font-face {
    font-family: 'Museo 300';
    src: url('fonts/museo/MuseoSansRounded300.woff2') format('woff2'),
         url('fonts/museo/MuseoSansRounded300.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo 700';
    src: url('fonts/museo/MuseoSansRounded700.woff2') format('woff2'),
         url('fonts/museo/MuseoSansRounded700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}