/*
------------------------------------------------
   ______      ____
  / ____/___ _/ / /__  _______  __
 / / __/ __ `/ / / _ \/ ___/ / / /
/ /_/ / /_/ / / /  __/ /  / /_/ /
\____/\__,_/_/_/\___/_/   \__, /
                         /____/
------------------------------------------------
Gallery
*/

.fc_gallery {

    ul.gallery__images {
        display:flex; flex-wrap:wrap; justify-content:center; clear:both; margin:0; padding:0;

        li { list-style:none; padding:10px; margin:0;
            /* Full */
            &.full__width { width:percentage(1/1);}

            /* Half */
            &.one__half { width:percentage(1/2);
                @include breakpoint(babybear) { width:percentage(1/1);}
            }

            /* One third */
            &.one__third { width:percentage(1/3);
                @include breakpoint(sisterbear) { width:percentage(1/2);}
                @include breakpoint(babybear){ width:percentage(1/1);}
            }

            /* One fourth */
            &.one__fourth { width:percentage(1/4);
                @include breakpoint(mamabear) { width:percentage(1/3);}
                @include breakpoint(sisterbear) { width:percentage(1/2);}
                @include breakpoint(babybear) { width:percentage(1/1);}
            }

            /* One fifth */
            &.one__fifth { width:percentage(1/5);
                @include breakpoint(brotherbear) { width:percentage(1/4);}
                @include breakpoint(mamabear) { width:percentage(1/3);}
                @include breakpoint(sisterbear) { width:percentage(1/2);}
                @include breakpoint(babybear) { width:percentage(1/1);}
            }

            img { width:100%;}

            a { overflow:hidden; display:block; position:relative;
                img {transition:all .2s ease-in-out;}

                .overlay { transition:all .2s ease-in-out; opacity:0; position:absolute; top:0; left:0; right:0; bottom:0; z-index:2; display:flex; justify-content:center; align-items:center; background:rgba(0, 0, 0, 0.67);

                    i { font-size:60px; color:#fff;}
                }
            }

            &:hover {
                a {
                    .overlay { opacity:1;}
                    img { transform:scale3d(1.1,1.1,1.1);}
                }
            }

        }
    }
}
