h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0; padding: 0; font-family: $primaryFont; color: $quarternary;
}

h2 { line-height: 38px; font-size: 32px;}
h3 { line-height: 34px; font-size: 28px;}
h4 { line-height: 30px; font-size: 24px;}
h5 { line-height: 26px; font-size: 20px;}
h6 { line-height: 24px; font-size: 18px;}

p { font-size: 17px; color: $text; margin-bottom: 30px; font-weight: 500; line-height: 30px;
    a { color: $primary; }
}

ul,  ol {
    padding: 0 0 0 25px;
    margin: 0 0 30px 0;
    line-height: 26px;

    li { list-style: disc; margin-bottom: 10px; color: $text; font-weight: 500;
        a { color: $primary; }
    }
}

img {
    &.alignright { margin: 0 0 0 20px; width: auto; height: auto; float: right; }
    &.alignleft { margin: 0 20px 0 0; width: auto; height: auto; float: left; }

    &.alignright,
    &.alignleft {
        @include breakpoint(mamabear){ width: 100%; float: none; margin: 0 0 20px 0; }
    }

    &.aligncenter { margin: 0 auto; }
}

.wpcf7 {
    margin: 30px 0;
    width: 100%;
    form {
        div.wpcf7-validation-errors {

            background: #ef3c3c;
        }
        div.wpcf7-mail-sent-ok {
            background: #21d697;

        }
        div.wpcf7-response-output {
            padding: 10px;
            margin: 0;
            color: #fff;
            border: none;
            text-align: center;
            background: $secondary;
        }
        p {
            margin: 0 0 20px 0;
            .ajax-loader {
                display: none;
            }
            span.wpcf7-not-valid-tip {
                margin: 10px 0 20px;
                color: #ef3c3c;
            }
            input:not([type='submit']), textarea, select {
                padding: 15px;
                margin: 0 0 10px 0;
                border: 1px solid $lightgrey;
                width: 100%;
                font-size: 16px;
                color: #999;
                resize: none;
                display: block;
            }

            input[type='submit']{
                padding: 10px 15px;
                background: $secondary;
                color: #fff;
                border: none;
                width: 100%;
                font-size: 17px;
                justify-content: center;
                text-transform: uppercase;
            }
        }
    }
}
