/*
----------------------------
  ______      __    __
 /_  __/___ _/ /_  / /__
  / / / __ `/ __ \/ / _ \
 / / / /_/ / /_/ / /  __/
/_/  \__,_/_.___/_/\___/

---------------------------
Table
*/

.fc_table {
    &.grey {
        table {
            tbody {
                tr:nth-child(even) { background-color:darken($lightgrey, 3%);}
            }
        }
    }

    table { width:100%;
        thead {
            @include breakpoint(mamabear) { display: none;}
            th { color:#fff; padding:10px; text-align:left; font-size:18px; font-weight: 500; background:$primary; text-transform:uppercase;}
        }

        tbody {
            tr:nth-child(odd){ background-color:#fff;
                @include breakpoint(mamabear) { background: none;}
            }

            tr:nth-child(even) { background-color:$lightgrey;
                @include breakpoint(mamabear) { background: none;}
            }

            td { color:inherit; padding:10px; text-align:left; font-size:16px; line-height:20px; border-right:1px $lightgrey solid;
                @include breakpoint(mamabear) { width: 100%; display: block;
                    &:nth-child(even) { background-color:$lightgrey;}
                    &:before { content: attr(data-th); width: 100%; display: block; padding: 10px 0; color:$primary; font-size: 18px; font-weight: 700;}
                }

                &:last-child { border:none;}
            }
        }
    }
}
