/*
    Buttons
*/

.fc_buttons {

    .buttons__wrap { display: flex; align-items: center;
        a { display: block; padding: 18px 40px 16px; background: $primary; color: #fff; font-size: 14px; font-weight: 800; text-transform: uppercase; border-radius: 5px;
            &:hover { background: $secondary;}
        }

        &.align-left { justify-content: flex-start;
            a { margin-right: 20px;}
        }

        &.align-center { justify-content: center;
            a { margin: 0 10px;}
        }

        &.align-right { justify-content: flex-end;
            a { margin-left: 20px;}
        }
    }
}
