/*
-----------------------------
 _    ___     __
| |  / (_)___/ /__  ____
| | / / / __  / _ \/ __ \
| |/ / / /_/ /  __/ /_/ /
|___/_/\__,_/\___/\____/

-----------------------------
Video
*/

.fc_video { margin: 10px 0;
    .video-wrapper { margin:0 auto;
        .video-responsive {position:relative; padding-bottom:56.25%; /* 16:9 */ padding-top:25px; height:0;}

        .video-responsive object,
        .video-responsive embed,
        .video-responsive iframe {position:absolute; top:0; left:0; width:100%; height:100%; margin:0 auto; left:0; right:0;}
    }

    .video-button{
        display: flex;

        .arrow__link{
            color: $white; padding: 12px 22px; background: $secondary; margin: 20px auto 0;
            
            i{
                color: $white;
            }
        } 
    }

    p { margin-bottom: 20px;}
}
