/*
--------------------------------------------
    ______           __
   / ____/__  ____ _/ /___  __________
  / /_  / _ \/ __ `/ __/ / / / ___/ _ \
 / __/ /  __/ /_/ / /_/ /_/ / /  /  __/
/_/    \___/\__,_/\__/\__,_/_/   \___/

-------------------------------------------
Feature
*/
.fc_feature {
    @include breakpoint(papabear) { padding-left: 10px !important; padding-right: 10px !important;}

    .fc_feature_wrapper { display:flex; flex-wrap:wrap; align-items: center; position: relative;
        @include breakpoint(teenbear){flex-direction: column;}

        .feature__image,
        .feature__text { width:percentage(1/2);

            .feature__action{
               .arrow__link{
                   color: $white; padding: 12px 22px; background: $secondary;
                   
                   i{
                       color: $white;
                   }
               } 
            }
        }

        .feature__image { position:relative; overflow:hidden; padding-right: 25px;

            @include breakpoint(papabear) { margin-bottom:20px; width:100%; padding-right: 0;}

            &.as__bg { position: absolute; left: 0;}

            img{
                border-radius: 5px; margin: 0 auto;
            }

            a { background:rgba(0, 0, 0, 0.6); position:absolute; width:100%; height:100%; top:0; left:0; z-index:1; box-sizing:border-box;

                span { border-radius:100%; width:100px; height:100px; background:rgba($primary, 0.8); margin:-50px auto 0; display:block; position:relative; top:50%; text-align:center; transition:all .4s ease; transform:scale(1);

                    strong { font-size:70px; color:#fff; display:inline-block; line-height:103px; margin-left:14px;}
                }
            }

            &:hover {
                a {
                    span { transition:all .4s ease; transform:scale(1.2);}
                }
            }
        }

        .feature__text { padding-left: 25px;
            @include breakpoint(papabear) { width:100%; padding-left: 0;}

            h3 { font-size: 30px; line-height: 36px; font-family: $boldFont;
                @include breakpoint(teenbear) { font-size: 22px; line-height: 30px;}
            }

            p { font-size: 16px; line-height: 29px; margin-bottom: 20px;
                &:last-child { margin-bottom: 0;}
            }

            a{color: $secondary;}
        }

        &.right {

            .feature__image { order:1; padding-left: 25px; padding-right: 0;

                @include breakpoint(papabear) { width:100%; order:0; padding-left: 0;}

                &.as__bg { position: absolute; right: 0; left: auto;}

            }

            .feature__text { padding-right: 25px; padding-left: 0;
                // /@include breakpoint(grandmabear) { border-right: 20px solid transparent;}
            }

        }

    }
}
