/*
----------------------------------------------------
    ______                  ______          __
   / ____/_______  ___     /_  __/__  _  __/ /_
  / /_  / ___/ _ \/ _ \     / / / _ \| |/_/ __/
 / __/ / /  /  __/  __/    / / /  __/>  </ /_
/_/   /_/   \___/\___/    /_/  \___/_/|_|\__/

----------------------------------------------------
Free Text
*/

.fc_free_text {
    
}
