/*
    Bluecoat - Press
*/

.fc_timeline { padding: 10px 20px;

    .fc_timeline_wrapper {
        .timeline__row { display: flex; justify-content: flex-start;
            @include breakpoint(brotherbear) { margin-bottom: 40px;
                &:last-child { margin-bottom: 0;}
            }

            article { width: percentage(1/2); box-shadow: 2px 0 0 0 $lightgrey; display: flex; align-items: center;
                @include breakpoint(brotherbear) { width: 100%; box-shadow: none;}

                .timeline__caption { margin: 10px 0 0 20px; width:75%; padding: 15px 20px 15px 40px; position: relative; background: #fff; box-shadow: 0 5px 20px rgba(black, 0.1); border-radius: 4px;
                    @include breakpoint(brotherbear) { box-shadow: none; padding:60px 20px 20px; width: 100%; margin: 0; text-align: center;}

                    h3{
                        font-size: 24px; margin: 0 0 10px 0;
                    }

                    p { margin-bottom: 0; font-size: 16px; line-height: 24px;}

                    i { width:70px; height:70px; background: #fff; box-shadow: -1px 0px 10px rgba(0,0,0,0.05); border-radius: 100%; display: flex; align-items: center; justify-content: center; font-size: 40px; color: $secondary; position: absolute; top: -42.5px; left:-42.5px;
                        @include breakpoint(brotherbear) { left:50%; margin-left: -42.5px;}
                    }
                }

                .line { height: 2px; background: $lightgrey; position: relative; right: -30px; width: 15%;
                    @include breakpoint(brotherbear) { display: none;}
                }

                figure { width: 40px; height: 40px; min-width: 40px; min-height: 40px; border-radius: 100%; background: $secondary; box-shadow: -1px 0px 10px rgba(0,0,0,0.05); display: flex; align-items: center; justify-content: center; color: $primary; font-weight: 700; position: relative; right: -30px; font-size: 22px;
                    @include breakpoint(brotherbear) { display: none; box-shadow: none;}
                }

            }

            &:nth-child(even) { justify-content: flex-end;
                article { border: none; box-shadow: inset 2px 0 0 0 $lightgrey;
                    @include breakpoint(brotherbear) { box-shadow: none;}

                    .timeline__caption { order:3; margin: 10px 0 0 20px; padding: 15px 40px 15px 20px;
                        @include breakpoint(brotherbear) { box-shadow: 0; padding:60px 20px 20px; width: 100%; margin: 0; text-align: center;}

                        i { left:auto; right: -42.5px;
                            @include breakpoint(brotherbear) { right:50%; margin-right: -42.5px;}
                        }
                    }

                    .line { order:2; right: auto; left: -18px;}
                    figure { order:1; right: auto; left: -18px;}
                }
            }

            &:first-child {
                article { padding-top: 40px;}
            }

            &:last-child {
                article { padding-bottom: 40px;
                    @include breakpoint(brotherbear) { padding-bottom: 0; margin-bottom: 0;}
                }
            }
        }
    }

    &.grey {
        .fc_timeline_wrapper {
            .timeline__row {
                article { box-shadow: 4px 0 0 0 #fff;
                    @include breakpoint(brotherbear) { box-shadow: none;}

                    .timeline__caption { background: #fff; box-shadow: 22px 0 0 0 #fff;
                        @include breakpoint(brotherbear) { box-shadow: none;}
                    }
                    .line { background: #fff;}
                    figure { background:#fff; border: 4px #fff solid; box-shadow: 0 0 0 10px $lightgrey;
                        @include breakpoint(brotherbear) { box-shadow: none;}
                    }
                }

                &:nth-child(even) {
                    article { box-shadow: inset 4px 0 0 0 #fff;
                        @include breakpoint(brotherbear) { box-shadow: none;}

                        .timeline__caption { box-shadow:-18px 0 0 0 #fff;
                            @include breakpoint(brotherbear) { box-shadow: none;}
                        }
                    }
                }
            }
        }
    }
}
