/*
    Testimonials
*/

.fc_testimonials { padding:40px 0;

    .testimonials__wrapper { width: 100%;
        
        article { padding-bottom:30px; margin-bottom:30px; border-bottom:1px solid $lightgrey; display: flex; flex-wrap: wrap; align-items: center;

            .test_img{
                width: 20%; margin: 0 auto;
                @include breakpoint(cousinbear){
                    display: none;
                }

                img{ margin: 0 auto; border-radius: 50%;}
            }

            .test_content{
                display: flex; flex-wrap: wrap; width: 100%;
                @include breakpoint(cousinbear){
                    width: 100%;
                }

                .testimonial__meta { padding-bottom:20px; flex:1 0 100%; display: flex; justify-content: space-between; align-items: center;
                    @include breakpoint(mamabear) { text-align:center;}

                    h3 { color:$primary; padding:0 0 10px; line-height:28px; margin:0;
                        @include breakpoint(mamabear) { font-size:24px; flex-direction: column-reverse;}
                    }

                    .stars {
                        @include breakpoint(mamabear) { margin-bottom:10px;}

                        span { color:$primary; font-size:25px;}
                    }
                }

                .video-wrapper { width:50%;
                    @include breakpoint(mamabear) { width:100%;}

                    .video-responsive { position:relative; padding-bottom:56.25%; /* 16:9 */ padding-top:25px; height:0;}
                    .video-responsive object,
                    .video-responsive embed,
                    .video-responsive iframe { position:absolute; top:0; left:0; width:100%; height:100%; margin:0 auto; left:0; right:0;}
                }

                .testim__content { width: 50%; flex:1 0 auto;
                    @include breakpoint(mamabear) { text-align: center;}

                    p { font-size:16px; line-height:26px; color:$text; padding-bottom:15px; margin:0;}
                    h5 { font-size:18px; color:$text; padding-bottom:0;}
                }
            }

            &.left {
                .testim__content { padding-left: 40px;
                    @include breakpoint(mamabear) { padding:20px 0 0;}
                }
            }

            &.right {
                .testim__content { padding-right: 40px;
                    @include breakpoint(mamabear) { padding:20px 0 0;}
                }
                .video-wrapper { order:2;
                    @include breakpoint(mamabear) { order: 0;}
                }
            }
        }

        &.grid { display: flex; flex-wrap: wrap;
            article { width: percentage(1/3); flex:1 0 auto; padding: 0 25px; margin-bottom: 0; border-bottom: none; display: block;
                @include breakpoint(teenbear){width: 100%;}

                .testimonial__meta { flex-direction: column; flex: auto; width: 100%;
                    h3 { display: none;}
                    .stars {
                        padding-top: 10px;
                    }
                }

                .testim__content { width: 100%; text-align: center; height: 100%; display: flex; flex-direction: column;
                    // h5 { margin:auto 0 0;}
                }
            }
        }

        &.feature{ display: flex;

            .testimonial_feature{ width: percentage(1/3); box-sizing: border-box;}

            .lSSlideOuter{ width: percentage(2/3)}


        }
    }
}
